body {
  margin: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  --accent-color: #076EFF;
  color: #202124;
  background: url('/bg.jpg');
  background-position: center;
  /* background-repeat: no-repeat;*/
  background-size: cover; 
}
#opencam{
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 200;
  top: 0;
  left: 0;
  width: 90dvw;
  height: 90dvh;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid red;
  margin: 20px;
}
.downbtncam{
  position: absolute;
  bottom: 30px;
  left : 30px;
}
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track
  {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

input[type="file"]{
  display:none;
}
#upload-image{
  z-index:1000 !important;
}
.custom-file-upload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}


.image-preview-container {
  margin-top: 20px;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.radio-group {
  display: flex;
  /* justify-content: space-around; */
  margin-bottom: 16px;
  justify-content: center;
  /* align-items: center; */
}
.labelname{
  font-size: 1.1rem;
}
#previewImage {
  width: 100%;
  height: auto;
  display: none; /* Hide image by default */
}
main,
.api-key-banner {
  width: 100%;
  padding: 24px;
  max-width: 460px;
  margin: 0 auto;
  border-radius: 20px;
}

.api-key-banner {
  background-color: #FFDDB7;
  font-weight: bold;
  margin-bottom: 16px;
}

.api-key-banner a {
  color: var(--accent-color);
}

* {
  outline-color: var(--accent-color);
  color: white;
}

main {
  max-height: 85dvh;
  overflow: auto;
    
}

h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  font-size: 24px;
}

h1::before {
  content: '';
  display: inline-block;
  background: url(logo.gif);
  width: 40px;
  height: 40px;
  background-size: cover;
}

form {
  margin: 0;
}

.image-picker {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: 24px;
}

.image-choice {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.image-choice:has(:checked)::before {
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
  color: white;
  content: '✓';
  background-color: var(--accent-color);
  width: 16px;
  height: 16px;
  display: grid;
  place-items: center;
  font-weight: bold;
  border-radius: 100px;
  box-shadow: 0 0 0 2px #fff;
}

.image-choice:has(:checked)::after {
  content: '';
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-radius: 8px;
  box-shadow:
    0 0 0 2px var(--accent-color) inset,
    0 0 0 4px #fff inset;
}

.image-choice img {
  width: 100%;
}

.image-choice input {
  opacity: 0;
  position: absolute;
}

.image-choice:focus-within::after {
  box-shadow: 0 0 0 4px var(--accent-color) inset;
}

.prompt-box {
  margin: 24px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
}

input,
button {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: unset;
  font-size: 16px;
}

button {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
}

button:focus-visible {
  outline: 2px solid white;
  outline-offset: -4px;
}

button:hover {
  opacity: 0.95;
}